<%- include partials/header.ejs %>

<%- include partials/main_nav.ejs %>
  

  <!-- Main Content -->
  <main class = "container">
    <div class="card-group">
        <div class="card">
            <img class="card-img-top" src="/Assets/images/proj1.png" alt="Card image cap">
          <div class="card-body">
            <h4 class="card-title">Church Website</h4>
            <p class="card-text">Made a simple website for a local church to help them gain traction and have SEO done online. I used simple bootstrap
              packages and a cloud server to host the static pages online.
            </p>
          </div>
        </div>
        <div class="card">
            <img class="card-img-top" src="/Assets/images/proj2.png" alt="Card image cap">
          <div class="card-body">
            <h4 class="card-title">Online Video Coding Classes</h4>
            <p class="card-text">Was incharge of shooting promotional as well as course content for an educational startup. I was able to
              plan and edit a structured module based on python language taken by a proffesor. The same was then edited and packaged to be deployed
              on their website. 
            </p>
          </div>
        </div>
        <div class="card">
            <img class="card-img-top" src="/Assets/images/proj3.png" alt="Card image cap">
          <div class="card-body">
            <h4 class="card-title">Christ Camera Help</h4>
            <p class="card-text">Developed an Android application from ground up that used tensorflow hosted on firebase to capture an image from 
              the mobile device and then use a retrained vision model to recognise nearby locations in a given location. This was done as my 
              major project for my previous education. It also used GoogleAR core to show navigation to users. 
            </p>
          </div>
        </div>
      </div>
  </main>

  
<%- include partials/bottom_nav.ejs %>  

<%- include partials/footer.ejs %>