<%- include partials/header.ejs %>

<%- include partials/main_nav.ejs %>
  

  <!-- Main Content -->
  <main class = "container">
    <div class="card-group">
        <div class="card">
            <img class="card-img-top" src="/Assets/images/proj1.png" alt="Card image cap">
          <div class="card-body">
            <h4 class="card-title">Project 1</h4>
            <p class="card-text">Lorem Ipsum Hut</p>
          </div>
        </div>
        <div class="card">
            <img class="card-img-top" src="/Assets/images/proj2.png" alt="Card image cap">
          <div class="card-body">
            <h4 class="card-title">Project 2</h4>
            <p class="card-text">Lorem Ipsum Hut</p>
          </div>
        </div>
        <div class="card">
            <img class="card-img-top" src="/Assets/images/proj3.png" alt="Card image cap">
          <div class="card-body">
            <h4 class="card-title">Project 3</h4>
            <p class="card-text">Lorem Ipsum Hut</p>
          </div>
        </div>
      </div>
  </main>

  
<%- include partials/bottom_nav.ejs %>  

<%- include partials/footer.ejs %>