<%- include partials/header.ejs %>

<%- include partials/main_nav.ejs %>

  <!-- Main Content -->
  <main class="container">
    <div class="jumbotron">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <h2>Bebin Paul Samuel</h2>
                    <p class="text-justify">Hi i am a student currently at Centennial college studying in  for a diploma in Software Engineering and
                        artificial intelligence. I hail from the southern part of India but lived all my life in Oman. I was always facinated by computers from a very young age and have since dedicated my career in the same field. 
                        As with everyone during my previous degree studies i was able to get a keen interest in a particualr field ie. Computer Vison. I am 
                        also a self taught video editor specializing in motion graphics and vfx.
                    </p>
                    <button type="button" class="btn btn-success" onclick=" window.open('https://drive.google.com/file/d/1rusd7SAS1R2D0wNYr3lN7tQE5_pqWlDo/view')">Resume</button>
                </div>
                <div class="col-md-6">
                    <img src="Assets\images\Photo.jpg" />
                </div>
            </div>
          </div>
    </div>
  </main>

<%- include partials/bottom_nav.ejs %>  

<%- include partials/footer.ejs %>