<%- include partials/header.ejs %>

<%- include partials/main_nav.ejs %>

  <!-- Main Content -->
  <main class="container">
    <div class="jumbotron">
        <h1 class="display-3">Welcome to my Portfolio Website.</h1>
        <p class="lead">This was created as a task for my COMP 229 assignment in my 3rd semester. 
            I have learnt a lot in a short amount of time regarding fullstack web 
            development. It was a long but pretty cool assignment. I felt really good when i was able to do the mentioned tasks, 
            especially when i ran my first server on localhost:3000.
            This website mainly uses EJS Templating engine to make and 
            display HTML webpages quickly, working on top of Nodejs and bootstrap.</p>
        <hr class="my-2">
        <p>Please click on the button below to know more about me.</p>
        <p class="lead">
          <a class="btn btn-primary btn-lg" href="/about" role="button">About Me</a>
        </p>
      </div>
  </main>

<%- include partials/bottom_nav.ejs %>  

<%- include partials/footer.ejs %>