<%- include partials/header.ejs %>

<%- include partials/main_nav.ejs %>
  

  <!-- Main Content -->
  <main class = "container">
    <div class="jumbotron">
      <h1 class="display-5"><form class="form-inline justify-content-center">Assignment 1 - Express Portfolio</h1></form>
    </div>
  <p class="text-center colortext font-weight-bold">Click on the HOME button to proceed.</p>
  </main>

  
<%- include partials/bottom_nav.ejs %>  

<%- include partials/footer.ejs %>
  




